<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>script</key>
		<string>sql_main/v1.sql</string>
	</dict>
	<dict>
		<key>version</key>
		<string>2</string>
		<key>script</key>
		<string>sql_main/v2.sql</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3</string>
		<key>script</key>
		<string>sql_main/v3.sql</string>
	</dict>
	<dict>
		<key>version</key>
		<string>4</string>
		<key>script</key>
		<string>sql_main/v4.sql</string>
	</dict>
</array>
</plist>
